node_modules/
apps/web/.next/
apps/web/node_modules/
apps/codeorbit-ai-vscode/out/
apps/codeorbit-ai-vscode/*.vsix
apps/codeorbit-ai-vscode/node_modules/
apps/codeorbit-ai-cli/dist/
apps/codeorbit-ai-cli/*.tgz
apps/codeorbit-ai-cli/node_modules/
apps/codeorbit-ai-desktop/dist/
apps/codeorbit-ai-desktop/node_modules/
